{% extends 'base.html' %}

{% block body %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="{{book.image.url}}"></a>
        </div> <!-- img-big-wrap.// -->
        <div style="margin-top: 20px;">
            <div class="col-md-4" style="margin: auto;">
                <p style="margin-top:30px;"><span class="font-weight-bold">Available Books:</span> {{book.stock}}</p> 
                <a href="{% url 'borrow' book.id %}" class="btn btn-block btn-success">Borrow </a>
                <a href="{% url 'add_wishlist' book.id %}" class="btn btn-block btn-info">Add to Wishlist </a>
            </div>
        </div>
  
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title"> {{book.title}}</h2>
    <div class="price-wrap mt-2">
        <p class="text-info">{{book.author}}</p>
    </div>
    
    <div class="mb-3"> 
        {% comment %} <var class="price h4">{{product.product_price}} tk.</var>  {% endcomment %}
    </div> 
    
    <p>{{book.description}} </p>
    <div>
        <p>
            <span class="font-weight-bold">Genres:</span>
            {% for item in genres %}
            <span class="text-capitalize">{{item}} </span>
            {% endfor %}
        </p>
        <p><span class="font-weight-bold">Format:</span><span>{{book.total_page}} Pages, </span> <span>{{book.cover}} </span></p>
        <p><span class="font-weight-bold">Published:</span> {{book.publication_date}}</p>
        <p><span class="font-weight-bold">ISBN:</span> {{book.isbn}}</p>
        <p><span class="font-weight-bold">Language:</span> {{book.language}}</p>
    </div>
    <div>
        
        
    </div>
    <form method='post'>
        {% csrf_token %}
    </form>
    </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    {% comment %} <div class="row">
                <div class="col-md-9">
    
        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            
        </header>
    
        <article class="box mb-3">
            <div class="icontext w-100">
                <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">24.04.2020 </span>  
                    <h6 class="mb-1">Mike John </h6>
                    
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <p>
                    Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>	
            </div>
        </article>
    
        
    
        </div> <!-- col.// -->
    </div> <!-- row.// --> {% endcomment %}
    
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}